// Intro Section
.intro-section {
    background-color: $dark-background-color;
    color: $text-color;
  
    h2 {
      font-weight: 700;
      color: $secondary-color;
    }
  
    .intro-text {
      max-width: 700px;
      margin: 0 auto;
      padding: 20px;
      border-radius: $border-radius;
      background-color: $gray-background-color;
    }
  }
  