// Media Queries

@media (min-width: 300px) and (max-width: 599px) {
  
  //FOOTER
  
  .footer {
    &-row,
    &-links {
      flex: 1 1 50%;
      max-width: 100%;
      margin: 0 0 30px 0;
    }
  }
  
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "curso1"
        "curso2"
        "curso3"
        "sobreCursos";
    }
  
    .curso img, .tarjeta img {
      height: auto;
    }
  
  //header

  .contenedor-header2 {
  
    background-size: auto 150%; /* Ajusta el tamaño de la imagen a 100% del alto */
    background-position: top; /* Opcional: Puedes ajustar la posición de la imagen */
  }
  
    //cursos
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "curso1"
        "curso2"
        "curso3"
        "sobreCursos";
    }
  
    .curso img, .tarjeta img {
      height: auto;
    }
  }







@media (max-width: 600px) {
  
  //FOOTER
  
  .footer {
    &-row,
    &-links {
      flex: 1 1 50%;
      max-width: 100%;
      margin: 0 0 30px 0;
    }
  }
  
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "curso1"
        "curso2"
        "curso3"
        "sobreCursos";
    }
  
    .curso img, .tarjeta img {
      height: auto;
    }
  
  //header

  .contenedor-header2 {
  
    height: auto;
    gap: 20px;
    background-size: cover;
  }
  
    //cursos
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "curso1"
        "curso2"
        "curso3"
        "sobreCursos";
    }
  
    .curso img, .tarjeta img {
      height: auto;
    }
  }
  
  @media (min-width: 601px) and (max-width: 992px) {
    
    .contenedor-header2 {
      background-size: contain; // Ajusta el tamaño de la imagen para que se redimensione adecuadamente
      height: auto; // Ajusta la altura según el contenido
    }
    
    
    .footer-row {
      text-align: center;
    }
  
    .footer-links {
      width: 50%;
      margin-bottom: 30px; 
    }
  
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-areas:
        "curso1 curso2"
        "curso3 sobreCursos";
    }
  
    .curso img, .tarjeta img {
      height: auto;
    }

    //Tablas

    thead {
      display: none;
  }
  tbody, tr, td {
      display: block;
      width: 100%;
  }
  tr {
      margin-bottom: 1rem;
  }
  td {
      text-align: right;
      padding-left: 50%;
      position: relative;

      &::before {
          content: attr(data-label);
          position: absolute;
          left: 1rem;
          width: calc(50% - 2rem);
          white-space: nowrap;
          text-align: left;
          font-weight: bold;
      }
  }



  }
  
  @media (min-width: 993px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-areas:
        "curso1 curso2 curso3"
        "sobreCursos sobreCursos sobreCursos";
    }
  
    .curso img, .tarjeta img {
      height: 200px;
    }
  }
  

  