// Variables
$primary-color: #007bff;
$secondary-color: #ffc107;
$background-color: #f8f9fa;
$text-color: #FFFFFF;
$dark-background-color: #343a40;
$gray-background-color: #495057;
$footer-background-color: #24262B;
$border-radius: 8px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//Animación
$transition-ease: all 0.3s ease-in-out;
//animación de cursos
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;